.button {
  font-size: var(--text-md);
  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: var(--font-base);
}

/* PRIMARY */
.primary {
  background-color: var(--color-primary);
  color: white;
}

.primary:hover {
  background-color: var(--color-primary-hover);
}

/* SECONDARY */
.secondary {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.secondary:hover {
  background-color: var(--color-secondary-hover);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
