.tooltipWrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;

  max-width: 250px;
  padding: 0.5rem 0.75rem;

  border-radius: 4px;

  font-size: 0.875rem;
  line-height: 1.4;

  white-space: normal;
  text-align: center;

  z-index: 1000;
}

.top {
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
}

.right {
  top: 50%;
  left: calc(100% + 8px);
  transform: translateY(-50%);
}

.bottom {
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 50%;
  right: calc(100% + 8px);
  transform: translateY(-50%);
}
